:root {
    --white: #ddd1d1;
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
}

body {
    background-color: rgb(39, 35, 35);
}

h1 {
    font-size: 10rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 3rem;
    padding: 10px;
}


.main-icon {
    display:flex;
    justify-content: center;
    padding: 30px;
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    text-align: center;
}



.card {
    width: max-content;
    height: max-content;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    background-color: var(--white);
}

h4 {
    color: rgb(39, 35, 35);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

a {
    margin: 2px;
    text-decoration: none;
    width: max-content;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

i {
    padding: 10px;
}

.btn {
    font-size: 2rem;
    border-radius: 5%;
}
